* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mega {
  display: none;
}
.category-menu-wr:hover .mega {
  display: block;
}
.mega li a:hover {
  color: blue !important;
}
.category-item-2:hover .list-sub-menu {
  display: block !important;
}
.list-sub-menu {
  min-width: 300px;
}
.icon-container:hover {
  background-color: #0d6efd; /* Bootstrap primary color */
  color: white;
  cursor: pointer;
}
.header-slider,
.carousel-item {
  height: 300px;
}
.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
